@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
margin: 0;
padding: 0;
font-family: sans-serif;

}

body{
 
display: flex;
justify-content:center ;
align-items: center;
min-height: 200vh;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAmCA4g6dCOfKBdmMu1XqIVuvBF6nNhDYtycK4TGf2BKq8jocbucNZFYeFtWqaYua8olo&usqp=CAU");
background-repeat: no-repeat;
background-size: cover;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    transform-style: preserve-3d;




}
.product{
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
}
.container .border {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    background: rgba(167, 170, 179, 0.575);
    border-radius: 20px;
    transform-style: preserve-3d;

}

.container .border::before {
    content: 'AMAZON';
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1rem;
    font-weight: 250px;
    color: #fff;
    font-style:italic;
    opacity: 0;
}

.container .border:hover::after {
    content:"STORE";
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 1rem;
    font-weight: 250px;
color: #fff;
    font-style:italic;
    opacity: 0;

}
.container .border:hover::before,
.container .border:hover::after
{
    opacity: 0.40;
}

.container .border .name {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    width: 100%;
    transform: translate(0,0,75px);
    opacity: 0;
    z-index:10;
}

.container .border:hover .name {
    top: 32px;
    opacity: 1;

}


.container .border .buy {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75%);
    color:#fff;
    background: chartreuse;
    padding: 10px 25px;
    border-radius: 30px;
    opacity: 0;
    z-index: 10;

      
}


.container .border:hover .name {
    bottom: 60px;
    opacity: 1;

}

.container .border .circle {
    position: absolute;
    top: 56%;
    left:50%;
    width: 200px;
    height:200px;
    border-radius: 50%;
    transition: 0.5s;
    background:#fff;
    transform-style: preserve-3d;
    z-index:10;
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);
}

.container .border .product {


    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px) rotate(-15deg);
}
